<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LocalDb1" connectionString="Data Source=CLUBDB\MRSLDB;Initial Catalog=DailyBanking_Test;User ID=memberservices;Password=M3mb3rS3rvic3;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="AdvantageDb1" connectionString="Data Source=IGTDB;Initial Catalog=Advantage;User ID=club_badgedrawuser;Password=P@ssw0rd;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="LocalDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\LocalDb.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="AdvantageDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\AdvantageDb.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="480"></sessionState>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" executionTimeout="90000" maxRequestLength="1048576" />
    <!-- 
         <httpRuntime targetFramework="4.5.2" maxRequestLength="32768" executionTimeout="240" />
         240 seconds is equal to four minutes.
         Specifies the maximum number of seconds that a request is allowed to execute before being automatically shut down by ASP.NET.
         references: https://stackoverflow.com/questions/10649843/how-to-increase-executiontimeout-for-a-long-running-query
    -->
    <!-- Comment section to bypass user login -->
    <!-- start -->
    <authentication mode="Forms">
      <forms loginUrl="~/Web_Forms/UserLogin.aspx" name="adAuthCookie" timeout="480" slidingExpiration="true" path="/" />
      <!-- 
        480 minutes is equal to eight hours. 
        The value sets the amount of time in minutes that the authentication cookie is set to be valid.
        The cookie will expire and the user will no longer be authenticated after the set value has expired.
        reference: https://stackoverflow.com/questions/17812994/forms-authentication-timeout-vs-sessionstate-timeout
      -->
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
    <!-- end -->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SqlCommandTimeOut" value="240" />
    <add key="aspnetspell_key" value="ASPNETSPELL-U1D1FT7FJ3CZ-9182D-CYW10-ENTERPRISE-0NL4R" />
    <add key="aspnetspell_usecentraldictionary" value="True" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
</configuration>